{% extends 'employee/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <table class="table table-bordered px-5">
        <thead>
            <tr>
                <th> Name </th>
                <th> Mobile </th>
                <th> Emp.No </th>
                <th> Emp.Postion </th>
                <th><a href="{% url 'insert_employee' %}" class="btn btn-outline-primary"> <i class="fa fa-plus"></i>  Add New  </a></th>
            </tr>
        </thead>
        <tbody>
            {% for emp in empDetails %}
                <tr>
                    <td>{{ emp.fullname }}</td>
                    <td>{{ emp.mobile }}</td>
                    <td>{{ emp.emp_no }}</td>
                    <td>{{ emp.emp_pos }}</td>
                    <td>
                        <a href="{% url 'update_employee' emp.id %}"><i class="fa fa-edit"></i> </a>
                        <form action="{% url 'delete_employee' emp.id %}" class="d-inline">
                            <button type="submit" class="btn">
                                <i class="fa fa-trash-alt text-danger"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content%}